
VeritabaniProjesi/obj/Debug/netcoreapp3.1/VeritabaniProjesi.csprojAssemblyReference.cache
VeritabaniProjesi/.vs/VeritabaniProjesi/DesignTimeBuild/.dtbcache.v2
VeritabaniProjesi/.vs/VeritabaniProjesi/v16/.suo
VeritabaniProjesi/obj/Debug/netcoreapp3.1/VeritabaniProjesi.csprojAssemblyReference.cache
