@model VeritabaniProjesi.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container-fluid mb-5"
     style="background: url('img/homeScreenImg.png') no-repeat center center; background-size: cover">

    <div class="d-flex flex-column justify-content-center align-items-center p-5">

        <p class="h2 p-3 m-3">Amacimiz</p>
        <p class="p-3 m-3 col-md-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Duis in tortor in ex porttitor egestas. Donec semper fermentum diam quis tincidunt.
            Vivamus a mollis turpis. Pellentesque vel sodales justo, a rutrum tellus. Fusce non pulvinar justo. Cras ullamcorper ut neque nec ultricies. Mauris fermentum ex augue, at placerat quam blandit nec. Pellentesque consectetur id eros vitae pellentesque. Vestibulum convallis ac augue facilisis eleifend. Phasellus arcu eros, efficitur a sollicitudin sit amet, lacinia elementum est. Vestibulum tincidunt enim eu mi rutrum maximus. Praesent massa libero, eleifend et nunc tincidunt, sagittis lobortis ipsum. Nam commodo, arcu a scelerisque hendrerit, elit magna efficitur massa, eget dapibus risus ex eget tellus.
            Pellentesque turpis elit, blandit eu diam sit amet, egestas interdum purus.
        </p>

        <div class=" p-3 m-3">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-lg">Kayit Ol</a>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-lg">Giris Yap</a>
        </div>
    </div>
</div>

<div class="container">
    @{ await Html.RenderPartialAsync("PartialViews/_Announcements", Model.Announcement);}
</div>

<div class="container-fluid" style="margin-top:20px;">
    <div class="row justify-content-center">
        <h1 class="h3">Sorun Var Mi?</h1>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-6">
            <img src="img/Qs.png" class="img-fluid rounded" style="width: 100%;" alt="Soru Sor!">
        </div>
        <div class="col-md-6">
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in tortor in ex porttitor egestas. Donec semper fermentum diam quis tincidunt. Vivamus a mollis turpis. Pellentesque vel sodales justo, a rutrum tellus. Fusce non pulvinar justo. Cras ullamcorper ut neque nec ultricies. Mauris fermentum ex augue, at placerat quam blandit nec. Pellentesque consectetur id eros vitae pellentesque. Vestibulum convallis ac augue facilisis eleifend. Phasellus arcu eros, efficitur a sollicitudin sit amet, lacinia elementum est. Vestibulum tincidunt enim eu mi rutrum maximus. Praesent massa libero, eleifend et nunc tincidunt, sagittis lobortis ipsum. Nam commodo, arcu a scelerisque hendrerit, elit magna efficitur massa, eget dapibus risus ex eget tellus. Pellentesque turpis elit, blandit eu diam sit amet, egestas interdum purus.
            </p>
            <a class="btn btn-primary btn-lg" asp-controller="Titles" asp-action="Create">
                Soru Sor!
            </a>
        </div>
    </div>
</div>